/*
  * custom styles go below this comment *
*/

body {
  background: #000;
  color: #7c7c7c;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

a:link {
  color: #5a5a5a;
}
a:visited {
  color: #5a5a5a;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}

a.dark-link:hover {
  color: #fff;
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #5a5a5a;
  box-shadow: none;
  text-shadow: none;
  border-radius: 3px;
  color: white;
  transition: background-color 300ms ease-out; }

input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: #000;
  box-shadow: none;
  border-radius: 3px;
}

button.round,
.button.round {
  border-radius: 3px;
  display: block;
  float: left;
  margin: 1rem 0 0 0;
  text-decoration: none;
}
button,
.button {
  background-color: #5a5a5a;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #000;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  color: white;
}
a.button {
  color: #fff;
}

code {
  color: #000;
}
.full-width {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
.white-text {
  color: white;
}

.tab-bar {
  background: #000;
}
.left-small {
  border-right: none;
}
.mobile-logo {
  max-height: 2.8125rem;
  margin: 0 auto;
  padding: 5px 0;
  display: block;
}

.menu-item a {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.1rem;
}
.menu-item a:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
}
.left-off-canvas-menu {
  background: #000;
}
.left-off-canvas-menu ul {
  list-style: none;
  margin-left: 0.5rem;
}
.left-off-canvas-menu ul li {
  margin: 1rem 0;
}

.tab-bar .menu-icon span::after {
  box-shadow: 0 0px 0 1px #5a5a5a, 0 7px 0 1px #5a5a5a, 0 14px 0 1px #5a5a5a;
}
.tab-bar .menu-icon:hover span::after {
  box-shadow: 0 0px 0 1px #fff, 0 7px 0 1px #fff, 0 14px 0 1px #fff;
}

#site-navigation {
  background: #000;
}
.header-padding {
  padding: 2rem 0;
}
.top-bar-section ul li {
  background: transparent;
  margin: 0 1rem;
}
.top-bar-section ul li > a {
  color: #fff;  
}
.current-menu-item a {
  border-bottom: 3px solid #fff;
}
.top-bar-section ul li:hover:not(.has-form) > a {
  background: transparent;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: transparent;
  border-bottom: 3px solid #fff;
}

#content {
  background: #fff;
}
.entry-content a {
  text-decoration: underline;
}

.site-branding {
  background: rgba(122, 125, 132, 1.0) no-repeat top center;
  color: #fff;
  padding: 2rem 0;
  text-align: center;
  background: url("dev-images/ba-road.jpg") no-repeat bottom center;
}
.site-title {
  font-size: 1.5rem;
  line-height: 1.2;
}
.site-description {
  font-size: 1rem;
}

.post-listing-padding {
  padding: 2rem 0;
}
article.post h2 {
  line-height: 1;
}

.hentry {
  margin: 2rem 0;
}

.wp-post-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.site-footer {
  background: #000;
  color: #fff;
  padding: 2rem;
}
.site-info p {
  margin-bottom: 0;
}
.social-icons {
  font-size: 24px;
}

/* MEDIA QUERIES */

/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  #wpadminbar {
    position: fixed;
  }
  .site-branding-img {
    max-width: 15rem;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
  nav.top-bar {
    background: transparent;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: transparent;
    text-transform: uppercase;
    line-height: 54px; /* this should match the height of the logo */
    font-weight: 600;
    font-size: 1rem;
    padding: 0;
  }
  .site-branding {
    padding: 6rem 0;
  }
  .site-branding-img {
    margin-top: 8rem;
  }
  .site-title {
    padding: 0 0 2rem 1rem;
    font-size: 2.3rem;
    line-height: 1.2;
  }
  .site-description {
    padding: 0 0 0 1rem;
    font-size: 1.4rem;
  }
  .post-listing-padding {
    padding: 6rem 0;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) {
  .site-branding-img {
    margin-top: 8rem;
    max-width: 100%;
  }
  .site-title {
    padding: 0 0 2rem 1rem;
    font-size: 3rem;
    line-height: 1.2;
  }
  .site-description {
    padding: 0 0 0 1rem;
    font-size: 1.7rem;
  }
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */