/*
  * custom styles go below this comment *
*/
.full-width {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
.white-text {
  color: white;
}

#site-navigation {
  background: #000;
}
.top-bar-section ul li {
  background: transparent;
}

.site-branding {
  background: #000;
  color: #fff;
  padding: 6rem 0;
  text-align: center;
}
.site-title {
  padding: 0 4rem 2rem 4rem;
  font-size: 4rem;
  line-height: 1.2;
}
.site-description {
  padding: 0 10rem;
  font-size: 1.7rem;
}

.post-listing-padding {
  padding: 6rem 0;
}

.wp-post-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem; }

/* MEDIA QUERIES */

/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  #wpadminbar {
    position: fixed;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
  nav.top-bar {
    background: transparent;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: transparent;
    text-transform: uppercase;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */