/*
  * custom styles go below this comment *
*/

a:link {
  color: #5a5a5a;
}
a:visited {
  color: #5a5a5a;
}
a:hover {
  color: #000;
}
a:active {
  color: #000;
}

a.dark-link:hover {
  color: #fff;
}

button.round,
.button.round {
  border-radius: 3px;
  display: block;
  float: left;
}
button,
.button {
  background-color: #5a5a5a;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #000;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  color: white;
}
a.button {
  color: #fff;
}

.full-width {
  width: 100%;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
.white-text {
  color: white;
}

.tab-bar {
  background: #fff;
}
.left-small {
  border-right: none;
}
.mobile-logo {
  max-height: 40px;
  margin: 5px auto;
  display: block;
}
.left-off-canvas-menu {
  background: #fff;
}
.left-off-canvas-menu ul {
  list-style: none;
  margin-left: 0.5rem;
}

.tab-bar .menu-icon span::after {
  box-shadow: 0 0px 0 1px #5a5a5a, 0 7px 0 1px #5a5a5a, 0 14px 0 1px #5a5a5a;
}
.tab-bar .menu-icon span:hover:after {
  box-shadow: 0 0px 0 1px #000, 0 7px 0 1px #000, 0 14px 0 1px #000;
}

#site-navigation {
  background: #fff;
}
.header-padding {
  padding: 2rem 0;
}
.top-bar-section ul li {
  background: transparent;
}
.top-bar-section ul li > a {
  color: #5a5a5a;
}
.top-bar-section ul li:hover:not(.has-form) > a {
  background: transparent;
}
.top-bar-section li:not(.has-form) a:not(.button):hover {
  color: #000;
  background: transparent;
}

.site-branding {
  background: url("") #000 no-repeat top center;
  background: 
  color: #fff;
  padding: 6rem 0;
  text-align: center;
}
.site-title {
  font-size: 2rem;
  line-height: 1.2;
}
.site-description {
  font-size: 1rem;
}

.post-listing-padding {
  padding: 6rem 0;
}
article.post h2 {
  line-height: 1;
}

.wp-post-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.site-footer {
  background: #000;
  color: #fff;
  padding: 2rem;
}
.social-icons {
  font-size: 28px;
}

/* MEDIA QUERIES */

/* Small screens */
@media only screen { } /* Define mobile styles */

@media only screen and (max-width: 40em) {
  #wpadminbar {
    position: fixed;
  }
} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
  nav.top-bar {
    background: transparent;
  }
  .top-bar-section li:not(.has-form) a:not(.button) {
    background: transparent;
    text-transform: uppercase;
  }
  .site-title {
    padding: 0 4rem 2rem 4rem;
    font-size: 4rem;
    line-height: 1.2;
  }
  .site-description {
    padding: 0 10rem;
    font-size: 1.7rem;
  }
} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

/* Large screens */
@media only screen and (min-width: 64.063em) { } /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/* XXLarge screens */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */